
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 1.5rem;
  }

  #game-canvas {
    max-height: none;
  }

  #notice, #android {
    font-size: 0.7rem;
  }

  .description {
    width: calc(100% - 20px);
    padding: 0 10px;
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .source {
    font-size: 0.55rem;
  }
}
