
@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }

  .description {
    width: calc(100% - 20px);
    padding: 0 10px;
    font-size: 0.7rem;
    line-height: normal;
  }

  .source {
    font-size: 0.6rem;
  }
}
