:root {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 24px;

  --bg-color: #1e1e1e;
  --text-color: #e0e0e0;
  --accent-color: #ff6f61;
  --subtle-border: #3a3a3a;
  --notice-color: #ff5555;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.fw-400 {
  font-weight: 400;
}

.fw-900 {
  font-weight: 900;
}

h1 {
  text-align: center;
  ruby-position: under;
  color: var(--text-color);
}

a {
  color: #82aaff;
  text-decoration: underline;
  transition: color 0.2s ease;
}

a:hover {
  color: #aadffd;
}

a:visited {
  color: #b191ff;
}

a:active {
  color: #ffd580;
}

#game-canvas {
  display: block;
  height: 100svh;
  max-height: 500px;
  margin: 16px auto 0;
}

#description-container {
  margin-top: 24px;
}

#notice,
#android {
  text-align: center;
  color: var(--notice-color);
}

.description {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 40px;
}

.gal-gun,
#bug {
  padding: 0.5rem 0;
  overflow-wrap: break-word;
  word-break: keep-all;
}

hr {
  height: 1px;
  background-color: var(--subtle-border);
  border: none;
}

ul {
  padding-left: 1rem;
}

#debug,
#error {
  display: none;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 24px;
}
