
@font-face {
	font-family: "Xim-Sans";
	src: url(./asset/Xim-Sans-Handwritten.ttf);
  font-display: block; /* フォントが読み込まれるまで代替フォントを出さない */
}

:root {
  font-family: Xim-Sans;
  touch-action: manipulation;
  font-size: 24px;
}

/* :rootで指定しても効果がなかったため、しぶしぶbodyで指定している */
body {
  margin: 0;
  padding: 0;
}

#game-canvas-wrapper {
  position: relative;
  width: fit-content;
  margin: 16px auto 0;
  user-select: none;
  -webkit-user-select: none;
}

#game-canvas {
  display: block;
  height: 100svh;
  max-height: 500px;
  border: solid 1px black;
}

#description {
  margin-top: 64px;
}

#notice {
  text-align: center;
  color: red;
}

h1 {
  text-align: center;
}

p {
  width: 100%;
  max-width: 800px;
  margin: 32px auto;
  line-height: 40px;
}

p.gal-gun {
  overflow-wrap: break-word;
  word-break: keep-all;
}
