
@font-face {
	font-family: "Xim-Sans";
	src: url(./asset/Xim-Sans-Handwritten.ttf);
  font-display: block; /* フォントが読み込まれるまで代替フォントを出さない */
}

:root {
  font-family: Xim-Sans;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
}

#game-canvas-wrapper {
  position: relative;
  width: fit-content;
  margin: 16px auto 0;
}

#game-canvas {
  display: block;
  height: 100svh;
  max-height: 500px;
  border: solid 1px black;
}
